---
import Layout from "../layouts/BlogPost.astro";
import { Image } from 'astro:assets';
---

<Layout
  title="About Me"
  description="Senior Software Engineer & Security Researcher"
  pubDate={new Date("April 26 2025")}
>
  <div class="flex flex-col md:flex-row gap-8 items-start">
    <div class="flex-shrink-0 md:w-1/3">
      <Image src="/me.jpeg" alt="Irad Aharoni" width={500} height={500} class="rounded-lg" />
    </div>
    <div class="flex-1 space-y-4">
      <p>
        I'm a software engineer and security researcher, I'm passionate about building stuff, learning
        new things and sharing knowledge.
      </p>
      <p>
        My main domain is security and AI, but I'm also interested in other areas.
      </p>
      <p>
        I'm currently working as a Senior Software Engineer and Security Researcher
        in the CTO Office at <a href="https://orca.security">Orca Security</a>.
      </p>
    </div>
  </div>
</Layout>
